.modal.fade#responseModal{"tabindex":"-1", "role": "dialog", "aria-labelledby": "responseModalLabel", "aria-hidden": "true"}
  .modal-dialog.modal-lg{"role": "document"}
    .modal-content
      .modal-header
        %h5.modal-title#responseModalLabel= "Responses for #{@assessment.name}"
        %button.close{"type": "button", "data-dismiss": "modal", "aria-label": "Close"}
          %span{"aria-hidden": "true"} &times;
      .modal-body
        = render partial: "response_table", collection: @assessment.questions, as: :question,locals: {team: @team}
      .modal-footer
        %button.btn.btn-secondary{"type": "button", "data-dismiss": "modal"}
          Close