$('#putModalHere').html('#{j render partial: "assessments/results", locals: {assessment: @assessment, team_grade: @team_grade, weighting: @weighting, personal_grade: @personal_grade}}');
$('#resultsModal').modal('show');
