Upload a TSV file of student data from CEIS here. It must include the following attributes:
%ul
  %li CiCS Username
  %li Email Address
  %li First name
  %li Surname
  %li Registration number
= form_tag({:action => :user_process}, multipart: true) do
  = file_field_tag :file
  = submit_tag( "Import" )
