- # This partial needs a reference to a team, so should only be used where staff are observing a team
%table.table.table-striped.table-hover.table-bordered#staffAssessTable
  %tr
    %th Title
    %th Students Completed So Far
    %th Date Opened
    %th Date Closed
    %th

  - @assessments.each do |assess|
    %tr
      %td= assess.name
      %td= assess.date_opened
      %td= assess.date_closed
      %td= link_to "View Individual Responses", get_ind_responses_path(assess, @team), remote: true, class: 'btn btn-info'
