.width_80
  %h2 Admin Dashboard
  .list-group
    .list-group-item
      = link_to "Student list", admin_students_path, class: "btn btn-primary"
    .list-group-item
      = link_to "Staff list", admin_staff_path, class: "btn btn-primary"
    .list-group-item
      = link_to "Module list", admin_modules_path, class: "btn btn-primary"
    .list-group-item
      = link_to "Team list", admin_teams_path, class: "btn btn-primary"