%h2= "Work Log List for #{@uni_module.title}"

%table.table.table-hover.table-striped.table-bordered
  %tr
    %th Team Number
    %th Fill Date
    %th Author
    %th Content


=  link_to "Back to module list", admin_modules_path, class: 'btn btn-secondary'
