-# Loop through all of the tables, rendering them individually in data panels
- if tables.count > 0
  - tables.each do |table|
    = render partial: 'infographs/data_panel', locals: {table_data: table}

