.row
  .col6#modInfo
    %h3 My Teams
    %ul.list-group
      - if @student_teams.length == 0
        %li.list-group-item.list-group-item-secondary You are not currently involved in any modules
      - else
        - @student_teams.each do |student_team|
          - module_info = student_team.team.uni_module
          %li.list-group-item
            = "#{module_info.title} - Team #{student_team.team_id}"
            %br
            %span= link_to "Enter Team Home", student_team_dashboard_path(student_team.id), class: 'btn btn-sm btn-primary'
