%h2 About
TeamPlayer has been developed by Daniel Perry for his final year dissertation project.
If you find any bugs or errors when using the application, feel free to report them to dperry1@sheffield.ac.uk.
%h3 Acknowledgements
This website uses Google's
%a{"href": "https://material.io/resources/icons/"} Material Design Icons
under the
%a{"href": "http://www.apache.org/licenses/LICENSE-2.0.txt"} Apache License Version 2.