%h2 About
%h3 Acknowledgements
This website uses Google's
%a{"href": "https://material.io/resources/icons/"} Material Design Icons
under the
%a{"href": "http://www.apache.org/licenses/LICENSE-2.0.txt"} Apache License Version 2.