%h2 Account Information
.card
  .card-body
    %strong Username:
    %p= current_user.username
    %strong Display Name:
    %p= current_user.real_display_name
    %strong Email Address:
    %p= current_user.email
    