.jumbotron
  %h1.display-4 NotWebPA
  %p.lead A team assessment application
  %hr.my-4/
  %p Some other informative text
  %p.lead
    - if current_user.nil?
      %a.btn.btn-primary.btn-lg{:href => new_user_session_url, :role => "button"} Sign in