.jumbotron
  %h1.display-4 TeamPlayerPlus
  %p.lead Peer Assessment and Team Management for Group Projects
  %hr.my-4/
  %p TeamPlayerPlus is a tool for University of Sheffield students to keep track of, and rate their team members on group projects so that everyone gets the grade they deserve.
  %p.lead
    - if current_user.nil?
      Get started by logging in
      %a.btn.btn-primary.btn-lg{:href => new_user_session_url, :role => "button"} Sign in
    = link_to "More Info", about_path, class: 'btn btn-lg btn-info'
    = link_to "tesdsdasd", swap_state_path, class: 'btn btn-lg btn-info'
    -#= link_to "Swap staff state", swap_state_path, class: 'btn btn-lg btn-danger'