%h1 Staff Dashboard
%h3 Current Modules
= render 'admin/staff_module_list'

= link_to 'Create Module', new_uni_module_path, class: 'btn btn-lg btn-primary'

= link_to 'Add Students', upload_users_path, class: 'btn btn-lg btn-primary'