#putModalHere
.width_80
  %h1 Staff Dashboard

  = link_to 'Create Module', new_uni_module_path, class: 'btn btn-lg btn-primary'
  = link_to 'Add Students', upload_users_path, class: 'btn btn-lg btn-primary', remote: true

  .row
    = render 'staff_info'