= simple_form_for StudentChat.new , url: post_chat_path(params[:student_team_id]), remote: true do |f|
  .row.justify-content-between.form-group
    .col
      = f.text_area :chat_message, class: 'form-control', rows: '2', placeholder: "Send a message..."
    .col-auto.ml-2
      = f.button :submit, "Post", class: 'btn btn-outline-info'
