.task-options-container
  = render partial: "student_chats/chat_form"


.task-options-container
  %div
    = turbo_stream_from ("Team-"+ student_team.team.id.to_s)
    %div{id: 'student_chats'}
      - if messages.count > 0
        = render partial: "student_chats/student_chat", collection: messages, locals: {user_id: current_user.id.to_i}
      - else 
        .task-options-container.text-center 
          %p There are currently no chats this week.