.row 
  .col 
    = (message.user.real_display_name + " - " + message.posted.to_s)
.row
  .col.rounded-pill.bg-light.float-start.shadow.px-3.py-2.my-2.bg-body.align-self-start.col-auto
    = message.chat_message
