.task-options-container
  %div{id: 'student_chats'}
    - if messages.count > 0
      = render partial: "student_chats/student_chat", collection: messages, locals: {user_id: current_user.id.to_i}
    - else 
      .text-center 
        %p There are no recorded messages for this week.

