- # Partial used to render student meetings/chat panel
= render partial: "student_chats/chat_filter", locals: {select_options: select_options, week_options: week_options}
#chat-box
  = render partial: "student_chats/current_chat_box", locals: {student_team: student_team, messages: messages}