.row.justify-content-end
  .col.col-auto.clearfix
    = simple_format message.posted.to_s
.row.justify-content-end
  .col.rounded-pill.bg-info.align-self-end.shadow.px-3.py-2.my-2.bg-body.col-auto.message-box
    = message.chat_message

