- # Partial used for a message container
.selectable-container
  .row
    - # Wrap words 
    .col{style: "word-wrap: break-word;"}
      %p.font-weight-normal= simple_format student_chat.chat_message
  .row 
    .col-auto
      %p.font-weight-bold=  student_chat.user.real_display_name 
    .col 
      %p.font-weight-light= student_chat.posted.to_s