.row 
  .col.align-self-center.text-center
    = 'TESTING '
.row 
  .col
    -puts(data)
    = line_chart data
    -# = column_chart data, id: graph_id, width: graph_width, hight: graph_height, min: min_value, max: max_val