.row.border-bottom
  = render partial: 'left_list_menu', locals: {users: users}
-# #left_menu_list
-#   = render partial: 'student_tasks/my_tasks', locals: {student_team: student_team, select_options: @select_options}
