#task-main-feed
  .row
    = render 'student_tasks/form', locals: {new_task: new_task, student_team_id: student_team_id}
  .row 
    = render partial: 'student_tasks/task_filtering', locals: {select_options: select_options}
  .row#task-list
    =render partial: 'student_tasks/task_feed', locals: {tasks: @student_team.team.student_tasks.order(task_start_date: :desc)}
