.row
  = render 'student_tasks/form', locals: {task: @task, student_team_id: @student_team.id}
.row 
  =render 'student_tasks/task_feed', locals: {student_team_id: @student_team.id, team_tasks: @student_team.team.student_tasks}
