.list-group.overflow-auto.p-1
  //If statement checks if there are any tasks to display
  - if team_tasks != nil 
    //Loops through each task, creating a link which will fetch the selected task when clicked
    - team_tasks.each do |task|
      =task.task_objective
      //= link_to task.task_objective, fetch_task_path(task_id: task.id), remote: true, class: "list-group-item list-group-item-action", type: "button" 
  - else
    No tasks available
    