.list-group.overflow-auto.p-1
  //If statement checks if there are any tasks to display
  - if team_tasks != nil 
    //Loops through each task, creating a link which will fetch the selected task when clicked
    - team_tasks.each do |task|
      .card
        = link_to student_team_student_task_path(student_team_id, task), class: 'student_task_box',data: {remote: true} do
          .card-body
            .card-text 
              =task.task_objective
            .card-subtitle.text-muted 
              = StudentTask.difficulty_int_to_string(task.task_difficulty)
  - else
    No tasks available
