.row 
  .col.align-self-center.text-center
    = 'graph_title'
.row 
  .col
    -puts(table2_data.inspect)
    = pie_chart table2_data["data"], title: table2_data["graph_title"]
    -# = column_chart data, id: graph_id, width: graph_width, hight: graph_height, min: min_value, max: max_value