-# 
  Index View for task 
  Allows admin to view all tasks and create new ones
- content_for :title, "[Student] Team Homepage"

.container.mt-4#main-team-home-page-container
  .row.border
    .col-3.border
      = render partial: 'left_menu_panel', locals: {my_tasks: @student_team.student_tasks}
    .col-6.border
      
      = render partial: 'main_home_panel', locals: {new_task: @task, student_team_id: @student_team.id}
    .col-3.border

      = render 'right_chat_panel'

= render 'student_reports/form', locals: {initial_items: @item_list}
