-# 
  Index View for task 
  Allows admin to view all tasks and create new ones
- content_for :title, "[Student] Team Homepage"

.d-flex.m-4{:style => "height: 80vh; overflow: visible;"}
  #tasks-panel.card.m-2.w-100.h-100
    //Header including title and search form
    .card-header.d-flex.justify-content-between.align-items-center
      %h5.m-0 Student Tasks
      =link_to 'report', new_report_path(@student_team.id)
    .card-body.p-0.d-flex
      .w-50.p-3.d-flex.flex-column.justify-content-between.border-right
        = render partial: 'student_tasks/form', locals: {task: @task, student_team_id: @student_team.id}
        %h1 My Tasks
        = render partial: 'student_tasks_list', locals: {student_team_id: @student_team.id, team_tasks: @student_team.student_tasks.where(student_team_id: @student_team.id)}
      //Left side of page, displaying the tasks_list, with pagination at the bottom
      .w-50.p-3.d-flex.flex-column.justify-content-between.border-right
        %h1 Team Tasks
        #task-list-panel
          = render partial: 'student_tasks_list', locals: {student_team_id: @student_team.id, team_tasks: @student_team.student_tasks}

        -# .justify-content-center
        -#   = pagy_bootstrap_nav(@pagy).html_safe

