.col
  - if comments.count > 0
    - comments.order(posted_on: :desc).each do |c|
      .task-options-container
        .row 
          .col-auto
            = c.user.real_display_name + " - " + c.posted_on.to_s
        .row
          .col 
            = c.comment
        - if c.image.attached?
          .row 
            .col.img-fluid
              = image_tag(c.image, class: "img-fluid")
        -if can? :delete_comment, c
          = link_to 'Delete', delete_comment_path(c), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" }
