-# Partial used to display task filter, as well as task list
.row.justify-content-between
  .col-auto
    Tasks By: 
  .col{'data-controller': "infographic"} 
    -# When dropdown changes, form is submitted, which will select the new set of tasks
    = simple_form_for StudentTeam.new, url: get_task_list_path(params[:student_team_id]), remote: true, html: {"data-infographic-target": "taskListForm"}, method: :get do |f|
      = f.select :user_id, select_options, {}, { class: 'form-select form-control', data: { action: "change->infographic#change_task_list"}, include_blank: false }
.row#task-list
  = render partial: "student_tasks/task_list", locals: {student_tasks: @student_team.student_tasks}
