.col 
  My Tasks:
  - if my_tasks.count > 0
    - my_tasks.each do |my_task|
      %div{:style => StudentTask.difficulty_int_to_style(my_task.task_difficulty)}
        = link_to student_task_path(my_task), class: 'student_task_box', remote: true do
          .row 
            .col
              = my_task.task_objective

          .row
            .col
              = my_task.task_target_date
  - else 
    You have no tasks