- if StudentTeam.find(student_team_id).isInTeam?(current_user)
  .row
    = render partial: 'student_tasks/form', locals: {student_team_id: student_team_id}
.row 
  = render partial: 'student_tasks/task_filtering', locals: {select_options: select_options}
.row#task-list
  =render partial: 'student_tasks/task_feed', locals: {tasks: tasks, pagy: pagy,tasks_count: tasks_count}
