.col 
  - if student_tasks.count > 0
    - student_tasks.each do |t|
      %div{:style => StudentTask.difficulty_int_to_style(t.task_difficulty)}
        = link_to student_task_path(t), class: 'student_task_box', remote: true do
          .row 
            .col
              = t.task_objective
          .row
            .col
              = t.task_start_date.to_date
  - else 
    No Tasks