$('#like_button').html("#{escape_javascript( link_to fa_icon("thumbs-up", text: @student_task.student_task_likes.count), student_task_like_task_path(@student_task), remote: true, method: :post, class: 'float-right')}");
