.container
  .row 
    .col-sm
      =link_to 'Back', student_team_dashboard_path(), class: "btn"
    .col-xl 
      Student Tasks
  .row
    .col-xl
      = @student_task.get_linked_students()
  .row
    .col-xl
      = @student_task.task_objective
= StudentTask.difficulty_int_to_string(@student_task.task_difficulty)
= @student_task.task_target_date

-if can?(:edit, StudentTask)
  =link_to 'Edit', edit_student_team_student_task_path(params[:student_team_id], @student_task.id)
  =link_to 'Complete', student_team_dashboard_path(params[:student_team_id]), class: "btn"
