/*
*= require bootstrap-datepicker
*/
@import "bootstrap/scss/bootstrap";
@import 'assessment';

/* Used to keep material design icons on same line as the text next to it */
.glyphRow > * {
  display: inline;
}

/* Makes material design icons at same vertical level as text */
.material-icons {
  vertical-align: text-bottom;
}

.student_task_box {
  &:hover {
    text-decoration: none;
    background-color: #9e9e9e;
  }
}