#putModalHere

.task-options-container
  .row.mb-3.justify-content-center
    .col-auto 
      %h3.font-weight-bold Reported User: 
    .col
      = pagy_bootstrap_nav(pagy_report).html_safe
  .row
    .col
      - report_objects.each.with_index(pagy_report.offset) do |ro, index|
        - @chosen_object = ro
        - if (student_report.object_type == 0)
          - report_object  = StudentTeam.find_by(id: ro.report_object_id)
          - reportee = report_object.user
          .row.mb-3
            .col-auto 
              %h5 Reportee Details:
            .col 
              = reportee.real_display_name + " / " + reportee.email
-if @chosen_object.student_report.complete
  = render partial: "show_complete_report", locals: {report_object: @chosen_object}

