.container
  .row 
    .col-xl 
      Reportee User Details
  .row
    .col-xl
      Name: 
      = student_team.user.real_display_name
    .col-xl
      Username: 
      = student_team.user.username

  .row
    %h1 Tasks:
      #task-list-panel
        = render partial: 'student_tasks_list', locals: {student_team_id: @student_team.id, team_tasks: @student_team.student_tasks}