-# Partial used to simulate display the reported users team home page
.col.mt-0#main-team-home-page-container
  .row.justify-content-center
    .col-4.pr-4
      = render partial: 'main_home_panel', locals: {new_task: @task, student_team_id: @student_team.id, select_options: @select_options, tasks: @tasks, pagy: @pagy, tasks_count: @tasks_count}
    .col-4
      .row.task-options-container#swap-meeting-assessment
        = render partial: "student_teams/swap_chat_and_assessment", locals: {student_team_id: @student_team.id, selected: 0}
      #right-panel-swap
        = render partial: 'student_chats/right_chat_panel', locals: {messages: @messages, student_team: @student_team, select_options: @select_options, week_options: @week_options}

